%h1= "Send a message to #{@constituency.member_name}"

= error_messages_for :message

-form_for([@constituency, @message]) do |f|
  %p
    %label{ :for => "sender_email" } Your email address
    = f.text_field :sender_email
    *
  %p
    %label{ :for => "sender" } Your full name
    = f.text_field :sender
    *
  %p
    %label{ :for => "address" } Postal address
    = f.text_area :address, :rows=>5
  %p
    %label{ :for => "post_code" } Your postcode
    = f.text_field :postcode
    *
  %p
    %label{ :for => "subject" } Your subject
    = f.text_field :subject
    *
  %p
    %label{ :for => "message" } Your message (max chars including spaces 4000)
    %br
    = f.text_area :message
    *
  %p
    %em.normaltext
      * denotes required text

  %p
    = f.submit "Send email"
  %p
    = link_to 'Cancel', constituency_path(@message.constituency)