- if @message.sent
  %h1= "Your message has been sent."
- else
  %h1= "Preview the Message You've Written"

  #message
    %p.text
      = label :message, :sender_email, 'Your email address: '
      .message_sender_email
        = @message.sender_email
    %p.text
      = label :message, :sender, 'Your full name: '
      .message_sender
        = @message.sender
    %p.text
      = label :message, :address, 'Your postal address:'
      .message_address
        = @message.address.blank? ? 'not given' : @message.address
    %p.text
      = label :message, :postcode, 'Your postcode: '
      .message_postcode
        = @message.postcode
    %p.text
      = label :message, :subject, 'Your subject: '
      .message_subject
        = @message.subject
    %p.text
      = label :message, :message, 'Your message: '
      .message_message
        = @message.message

    %p.text
      = button_to("Re-edit your message", :action => 'edit').sub('"post"','"get"')
      - form_for([@constituency, @message]) do |f|
        = f.hidden_field(:sent, :value=>'1')
        = f.submit "Send message"
