- if @message.sent
  - @title = "Your message has been sent."
  %p.text
    = link_to "Return to MP search", root_url
- else
  - @title = "Preview the Message You've Written"

  .text
    #message
      .form_field
        = label :message, :sender_email, 'Your email address: '
        %span.message_sender_email
          = @message.sender_email
      .form_field
        = label :message, :sender, 'Your full name: '
        %span.message_sender
          = @message.sender
      .form_field
        = label :message, :address, 'Your postal address:'
        %span.message_address
          = @message.address.blank? ? 'not given' : @message.address
      .form_field
        = label :message, :postcode, 'Your postcode: '
        %span.message_postcode
          = @message.postcode
      .form_field
        = label :message, :subject, 'Your subject: '
        %span.message_subject
          = @message.subject
      .form_field
        = label :message, :message, 'Your message: '
        %span.message_message
          = @message.message

      - form_for([@constituency, @message], :url => { :action => 'new' }, :html => {:style => 'float:left;margin-right:1em;'}) do |f|
        - [:sender_email, :sender, :address, :postcode, :subject, :message].each do |attribute|
          = f.hidden_field(attribute)
        = f.submit "Re-edit your message"

      - form_for([@constituency, @message], :url => { :action => 'create' }, :html => {:style => 'float:left;'}) do |f|
        - [:sender_email, :sender, :address, :postcode, :subject, :message].each do |attribute|
          = f.hidden_field(attribute)
        = f.hidden_field(:sent, :value=>'1')
        = f.submit "Send message"
