-@title = 'Change My Password'

- form_for @user, :url => password_reset_path, :method => :put do |f|
  = f.error_messages
  .form_field
    = f.label :password
    = f.password_field :password
  .form_field
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  = f.submit "Update my password and log me in"
