= javascript_include_tag :defaults

- @crumbtrail = link_to_admin_home
- @title= 'Constituencies'

- unless @invalid_constituencies.empty?
  %h3 Invalid data
  .text{:style => "margin-bottom: 3em;"}
    - @invalid_constituencies.each do |item|
      %p= item.new_constituency.errors.full_messages.join("<br/>")
      %p.warn= item.line

- unless @unrecognized_constituencies.empty?
  %h3 Unrecognized constituencies
  .text{:style => "margin-bottom: 3em;"}
    - @unrecognized_constituencies.each do |item|
      %p= item.line

- unless @ommitted_constituencies.empty?
  %h3 Missing constituencies
  .text{:style => "margin-bottom: 3em;"}
    - @ommitted_constituencies.each do |constituency|
      %p.warn= constituency.name

- unless @changed_constituencies.empty?
  %h3 Changed constituencies
  .text
    - @changed_constituencies.each do |item|
      - constituency = item.old
      - new_constituency = item.new_constituency
      - id = "constituency#{constituency.id}"
      %div{:id=>id}
        - remote_form_for(constituency, :update => id) do |f|
          %p= constituency.name
          - member_name_changed = constituency.member_attribute_changed?(:member_name, new_constituency)
          - member_party_changed = constituency.member_attribute_changed?(:member_party, new_constituency)
          - member_email_changed = constituency.member_attribute_changed?(:member_email, new_constituency)
          - member_biography_url_changed = constituency.member_attribute_changed?(:member_biography_url, new_constituency)
          - member_website_changed = constituency.member_attribute_changed?(:member_website, new_constituency)
          - member_requested_contact_url_changed = constituency.member_attribute_changed?(:member_requested_contact_url, new_constituency)
          %p
            - if member_name_changed
              = f.label :member_name, "#{constituency.member_name} -> "
              = f.text_field :member_name, :value => "#{new_constituency.member_name}", :size=>40
            - else
              = f.label :member_name
              = f.text_field :member_name, :size=>40
          %p
            - if member_party_changed
              = f.label :member_party, "#{constituency.member_party} -> "
              = f.text_field :member_party, :value => "#{new_constituency.member_party}", :size=>40
            - else
              = f.label :member_party
              = f.text_field :member_party, :size=>40
          %p
            - if member_email_changed
              = f.label :member_email, constituency.member_email.blank? ? 'Email' : "#{constituency.member_email} -> "
              = f.text_field :member_email, :value => "#{new_constituency.member_email}", :size=>55
            - else
              = f.label :member_email, 'Email'
              = f.text_field :member_email, :size=>55
          %p
            - if member_biography_url_changed
              = f.label :member_biography_url, constituency.member_biography_url.blank? ? 'Biography URL' : "#{constituency.member_biography_url} -> "
              = f.text_field :member_biography_url, :value => "#{new_constituency.member_biography_url}", :size=>55
            - else
              = f.label :member_biography_url, 'Biography URL'
              = f.text_field :member_biography_url, :size=>55
          %p
            - if member_website_changed
              = f.label :member_website, constituency.member_website.blank? ? 'Website' : "#{constituency.member_website} -> "
              = f.text_field :member_website, :value => "#{new_constituency.member_website}", :size=>55
            - else
              = f.label :member_website, 'Website'
              = f.text_field :member_website, :size=>55
          %p
            - if member_requested_contact_url_changed
              = f.label :member_requested_contact_url, constituency.member_requested_contact_url.blank? ? 'Requested contact URL' : "#{constituency.member_requested_contact_url} -> "
              = f.text_field :member_requested_contact_url, :value => "#{new_constituency.member_requested_contact_url}", :size=>55
            - else
              = f.label :member_requested_contact_url, 'Requested contact URL'
              = f.text_field :member_requested_contact_url, :size=>55
          %p
            %label &nbsp;
            = f.submit "Update #{constituency.name}"
%br

- unless @unchanged_constituencies.empty?
  %h3 Unchanged constituencies
  %p.text
    - @unchanged_constituencies.each do |item|
      = item.old.name
      %br
