-@title= 'Constituencies'

%h2 Unchanged constituencies
%p.text
  - @unchanged_constituencies.each do |line, constituencies|
    = constituencies[0].name
    %br

%h2 Changed constituencies
- @changed_constituencies.each do |line, constituencies|
  %p.text
    %b= constituencies[0].name
    %br
    - if constituencies[0].member_name != constituencies[1].member_name
      = "#{constituencies[0].member_name} -> #{constituencies[1].member_name}"
    %br
    - if constituencies[0].member_party != constituencies[1].member_party
      = "#{constituencies[0].member_party} -> #{constituencies[1].member_party}"

