-@title = 'Attempted to Send Messages | Admin'

%table.text.column_content
  %tr
    %th Month
    %th Message count
    %td Errors
  - @attempted_send_by_month_count.reverse.each do |month, messages|
    %tr
      %td= month.to_s(:month_year)
      %td= messages.size
      %td= messages.collect(&:mailer_error).uniq.join("\n").gsub("\n","<br/>")

%p.text
  = '&nbsp;'
%p.text
  = link_to 'Admin home', admin_url
