-@title = 'Message Audit | Admin'

%p.text
  = link_to "Sent messages: #{@sent_message_count}", url_for(:controller=>'admin',:action=>'sent')
%p.text
  = link_to "Attempted to send messages: #{@attempted_send_message_count}", url_for(:controller=>'admin',:action=>'attempted_send')
%p.text
  = link_to "Draft messages: #{@draft_message_count}", url_for(:controller=>'admin',:action=>'draft')

- unless @messages.empty?
  %table
    %tr
      - @messages.first.attributes.each do |name,value|
        - unless name[/message|authenticity_token/]
          %th=name

    - @messages.each do |message|
      %tr
        - message.attributes.each do |name, value|
          - unless name[/message|authenticity_token/]
            %td=value
