- @crumbtrail = 'Admin'
- @title = 'Admin'

%h3 Message Audit

%p.text
  = link_to "Sent messages: #{number_with_delimiter(@sent_message_count)}", url_for(:controller=>'admin',:action=>'sent')
%p.text
  = link_to "Messages waiting to be sent: #{number_with_delimiter(@waiting_to_be_sent_count)}", url_for(:controller=>'admin',:action=>'waiting_to_be_sent')

%h3 Data maintenance
%p.text
  = link_to 'Load constituencies', edit_constituency_list_path
%p.text
  = link_to 'All constituencies', constituencies_path

%h3 User account
- if @current_user.admin?
  %p.text
    = link_to 'Add new user', new_user_path
  %p.text
    = link_to 'Edit users', users_path
%p.text
  = link_to 'Edit your account settings', edit_user_path(@current_user)


