- @crumbtrail = 'Admin'
- @title = 'Admin'

%h3.padded_subheading Messages

%p.text
  = link_to("Messages sent", url_for(:controller=>'admin',:action=>'sent') ) + ':'
  = number_with_delimiter(@sent_message_count)

%p.text
  - if @waiting_to_be_sent_count > 0
    = link_to "Messages <strong>waiting on the server</strong> to be sent: #{number_with_delimiter(@waiting_to_be_sent_count)}", url_for(:controller=>'admin',:action=>'waiting_to_be_sent')
  - else
    There are no messages waiting on the server to be sent.
    
  -if @current_user.admin?
    %p.text
      = link_to 'Check mail server status', url_for(:controller=>'admin',:action=>'mailserver_status')

%h3.padded_subheading Members database

%p.text
  = link_to 'Edit Members database information', edit_constituency_list_path
  |
  = link_to 'Edit constituencies', constituencies_path
  
- if @current_user.admin?
  %h3.padded_subheading Postcode database
  
  %p.text
    = link_to 'Manage blacklist', blacklisted_postcodes_path
    |
    = link_to 'Manage non-ONS postcodes', manual_postcodes_path

%h3.padded_subheading Users

%p.text
  = 'You are logged in as <strong>' + @current_user.login + '</strong>'
  |
  = link_to 'Edit your account settings', edit_user_path(@current_user)

- if @current_user.admin?

  %p.text= 'Your account has administrator rights.'

  %p.text
    = link_to 'Add new user', new_user_path
    |
    = link_to 'Edit users', users_path

%h3.padded_subheading Memory use on server

%p.text
  = link_to "Memory statistics", url_for(:controller=>'admin',:action=>'stats')

- if @current_user.admin?    

  %h3.padded_subheading Emergency shutdown

  %p.text
    = link_to 'Shutdown site', shutdown_url