- @title = "#{@month.to_s(:month_year)} Sent Messages | Admin"

%table.text.column_content
  %tr
    %th Constituency
    %th Message count
  - @sent_by_constituency.each do |constituency_name, messages|
    %tr
      %td= link_to_constituency constituency_name
      %td= messages.size

%p.text
  = '&nbsp;'
%p.text
  = link_to 'Back', url_for(:controller=>'admin',:action=>'sent')
