.form_field
  = form.label :login
  = form.text_field :login
.form_field
  = form.label :password, form.object.new_record? ? nil : "Change password"
  = form.password_field :password
.form_field
  = form.label :password_confirmation
  = form.password_field :password_confirmation
.form_field
  = form.label :email
  = form.text_field :email
