%constituency
  %constituency-name= constituency.name.gsub('&','&amp;')
  - if constituency.no_sitting_member?
    %member-name= 'No sitting member'
    %member-party
    %member-biography-url
    %member-website
  - else
    %member-name= constituency.member_name
    %member-party= constituency.member_party
    %member-biography-url= constituency.member_biography_url
    - if constituency.member_website
      %member-website= constituency.member_website.gsub('&','&amp;')
    -else
      %member-website