- if @constituency.no_sitting_member?
  %p No sitting member.
- else
  %p= "The sitting Member of Parliament is #{h @constituency.member_name} (#{@constituency.member_party})."
  - if @constituency.member_biography_url
    %p= "Biography: #{link_to h(@constituency.member_biography_url), @constituency.member_biography_url }"
  - if @constituency.member_website
    %p= "Website: #{link_to h(@constituency.member_website), @constituency.member_website }"
  - if @constituency.member_email.blank?
    %p Member has not provided contact details.
  - else
    %p= link_to "Send a message to #{@constituency.member_name}", new_constituency_message_url(@constituency)

