.text
  - if @constituency.no_sitting_member?
    %p No sitting Member of Parliament.
  - else
    .row_item
      .row_label Sitting MP
      .row_value
        - text = "#{h(@constituency.member_name)} (#{@constituency.member_party})"
        - if @constituency.member_biography_url?
          = link_to text, @constituency.member_biography_url
        - else
          = text
    - if @constituency.member_website?
      .row_item
        .row_label Website
        .row_value
          = link_to @constituency.member_website.sub('http://','').chomp('/'), @constituency.member_website
    .row_item
      .row_label= @constituency.member_requested_contact_url? ? "Contact" : "Email"
      .row_value
        - if @constituency.member_requested_contact_url?
          = link_to "Contact #{@constituency.member_name}", @constituency.member_requested_contact_url
        - elsif @constituency.member_email?
          = %Q|#{link_to("Email #{@constituency.member_name}", new_constituency_message_url(@constituency) )}|
        - else
          = "Sorry, we do not have an email address for #{h @constituency.member_name}."
    .row_item
      .row_label Telephone
      .row_label
        020 7219 3000 (House of Commons Switchboard - ask for your Member's Office)
    .row_item
      .row_label Letter
      .row_value
        House of Commons, London, SW1A 0AA
