- @crumbtrail = link_to_admin_home
- @title = 'Edit constituency'

= error_messages_for :constituency

-form_for(@constituency) do |f|
  %p.text
    = f.label :ons_id, 'ONS Constituency ID'
    %span.constituency_id= @constituency.ons_id
  %p.text
    = f.label :name, 'Constituency'
    = f.text_field :name
  %p.text
    = f.label :member_name, 'Member'
    = f.text_field :member_name
  %p.text
    = f.label :member_party
    = f.text_field :member_party
  %p.text
    = f.label :member_email
    = f.text_field :member_email
  %p.text
    = f.label :member_requested_contact_url, 'Requested contact URL'
    = f.text_field :member_requested_contact_url, :size=>50
  %p.text
    = f.label :member_biography_url, 'Member biography URL'
    = f.text_field :member_biography_url, :size=>50
  %p.text
    = f.label :member_website
    = f.text_field :member_website, :size=>50
  %p.text
    = f.label :member_visible
    = f.check_box :member_visible

  %p.text
    = f.submit "Update data"

%p.text
  = link_to 'Show constituency', constituency_path(@constituency)
  |
  = link_to 'All constituencies', constituencies_path
