%h1
  Edit constituency
= error_messages_for :constituency

-form_for(@constituency) do |f|
  %p
    %label Constituency
    = f.text_field :name
  %p
    %label Member
    = f.text_field :member_name
    = f.submit "Update "

%p
  = link_to 'Show', constituency_path(@constituency)
  = link_to 'Back', constituencies_path

