%h1 Constituencies

%table
  %tr
    %th Code
    %th Name
  -for constituency in @constituencies
    %tr
      %td= h constituency.code
      %td= h constituency.name

      %td= link_to 'Show', constituency_path(constituency)
      %td= link_to 'Edit', edit_constituency_path(constituency)
      %td= link_to 'Destroy', constituency_path(constituency), :confirm => 'Are you sure?', :method => :delete

= link_to 'New constituency', new_constituency_path