- if @constituency
  = render :partial => 'constituencies/constituency', :object => @constituency
- if @constituencies or @members
  #search= render :partial => 'layouts/search_form'
  %h3.subheading Search Results
  %p.text Your search term matched more than one constituency - for a more accurate result, please enter your full postcode
  - if @constituencies.size > 0
    %h4= pluralize(@constituencies.size, 'Constituency')
    = render :partial => 'constituencies/constituency_match', :collection => @constituencies
  - if @members.size > 0
    %h4= pluralize(@members.size, 'Member')
    = render :partial => 'constituencies/member_match', :collection => @members
  =render :partial => 'layouts/search_hints'
