- if @constituency
  - @meta_description = meta_description(@constituency)
  = render :partial => 'constituencies/constituency', :object => @constituency
  %h3.padded_subheading Search
  #mp_search
    - @last_search_term = flash[:postcode]
    =render :partial => 'layouts/search_form'
    =render :partial => 'layouts/search_hints'

- elsif @constituencies or @members
  - if @constituencies.size > 0
    %h4= pluralize(@constituencies.size, 'Constituency')
    - if @constituencies.size > 1
      %p.text A search using your full postcode will show fewer constituencies
    = render :partial => 'constituencies/constituency_match', :collection => @constituencies
  - if @members.size > 0
    %h4= pluralize(@members.size, 'Member')
    - if @members.size > 1
      %p.text A search using your full postcode will show fewer Members
    = render :partial => 'constituencies/member_match', :collection => @members