- if @constituency
  = render :partial => 'constituency', :object => @constituency
- elsif @constituencies or @members
  #search= render :partial => 'layouts/search_form'
  - if @constituencies.size > 0
    %p= pluralize(@constituencies.size, 'CONSTITUENCY MATCH').upcase
    = render :partial => 'constituency_match', :collection => @constituencies
  - if @members.size > 0
    %p= pluralize(@members.size, 'MEMBER MATCH').upcase
    = render :partial => 'member_match', :collection => @members
- if @is_admin
  - if @constituency
    %p= link_to 'Edit', edit_constituency_path(@constituency)
  = link_to 'All constituencies', constituencies_path
