- @title= @postcode.code

%p= "Post code: #{@postcode.code}"
%p= "Constituency: #{@postcode.constituency_name} (ID #{@postcode.constituency_id})"
%p
- if @postcode.member_name
  = "Member: #{@postcode.member_name}"
- else
  = "No recorded member"

