- if @postcode
  - @title = @postcode.code_with_space
  - if @constituency
    - name = @postcode ? link_to(h(@constituency.name), :controller => "constituencies", :action => "show", :only_path => false, :id => @constituency) : h(@constituency.name)
    %p.text= "The postcode <strong>#{@postcode.code_with_space}</strong> is in the Westminster constituency of #{name}."
    = render :partial => 'constituencies/member'
  - else
    %p.text No constituency found.
- elsif @postcode_districts
  - @title = "#{h(@search_term.upcase)} covers #{ pluralize(@postcode_districts.size, 'constituencies') }"
  = render :partial => 'constituencies/constituency_match', :collection => @postcode_districts.collect(&:constituency)
  %p.text You have entered a postcode district which covers more than one constituency - for a more accurate result, please enter your full postcode
  #mp_search
    - @last_search_term = h(@search_term.upcase)
    =render :partial => 'layouts/search_form'
    =render :partial => 'layouts/search_hints'
- @crumbtrail = @title