- @title= @postcode.code

%p
  = "postcode: #{@postcode.code_with_space}"
%p
  = "constituency_id: #{@postcode.constituency_id}"
%p
  = "constituency: #{@postcode.constituency_name}"
%p
  - if @postcode.member_name
    = "member: #{@postcode.member_name}"
  - else
    = "constituency is vacant"
