- @title= @postcode.code

%p= "POSTCODE: <strong>#{@postcode.code_with_space}</strong>"

%p= "CONSTITUENCY: <strong>#{@postcode.constituency_name} (#{@postcode.constituency_id})</strong>"
%p
  - if @postcode.member_name
    = "MEMBER: <strong>#{@postcode.member_name.strip}</strong>"
  - else
    = "NO RECORDED MEMBER"

%p{:style=>'float: right'}
  Other formats:
  = link_to('xml', url_for(:action=>:show,:format=>:xml))
  = link_to('json', url_for(:action=>:show,:format=>:js))

