- @title= @postcode.code

%p= "POSTCODE <strong>#{@postcode.code_with_space}</strong>"

%p= "CONSTITUENCY <strong>#{@postcode.constituency_name} (#{@postcode.constituency_id})</strong>"
%p
  - if @postcode.member_name
    = "MEMBER <strong>#{@postcode.member_name}</strong>"
  - else
    = "NO RECORDED MEMBER"
