%html
  %head
    %title= @title || "Find Your MP"
    %style
      body {font-size:1em;margin: 5% 10%;font-family:sans-serif;} #search input {font-size:1.5em;} a {text-decoration:none;}  input {font-size:1em;} .fieldWithErrors input, .fieldWithErrors textarea {border: solid 1px #cc0000; background-color: #ffcccc; }
  %body{:id=>"findyourmp-parliament-uk"}
    #header
      %h1= @title || "Find Your MP"
      #search= render :partial => 'layouts/search_form'
    =yield
    #footer
      = button_to "Enable #{@is_admin ? 'STANDARD USER functions' : 'ADMINISTRATOR functions'}" , :action => :toggle_admin, :controller => 'application'
      #help If you have any problems using this service please look at the  <a href="http://www.parliament.uk/directories/hcio/findyourmp_help.cfm">help</a> pages or contact the <a href="http://www.parliament.uk/directories/hcio.cfm">House of Commons Information Office</a>.