%html{:lang=>"en-GB"}
  %head
    %title= @title ? "#{@title} (Find Your MP)" : "Find Your MP"
    = stylesheet_link_tag 'screen', :media => 'screen'
  %body{:id=>"findyourmp-parliament-uk"}
    #header
      %h1= @title || "Find Your MP"
      #help If you have any problems using this service please look at the  <a href="http://www.parliament.uk/directories/hcio/findyourmp_help.cfm">help</a> pages or contact the <a href="http://www.parliament.uk/directories/hcio.cfm">House of Commons Information Office</a>
      #search= render :partial => 'layouts/search_form'
    =yield
    #footer
      #copyright <a href="http://www.parliament.uk/site_information/parliamentary_copyright.cfm">&copy;UK Parliament</a>. <a href="http://www.statisticsauthority.gov.uk/copyright/index.html">&copy;UK Statistics Authority</a>.
      #admin-button= button_to "Enable #{@is_admin ? 'STANDARD USER functions' : 'ADMINISTRATOR functions'}" , :action => :toggle_admin, :controller => 'application'
