%html{:lang=>"en-GB"}
  %head
    %title= @title ? "#{@title} (Find Your MP)" : "Search (Find Your MP)"
    = stylesheet_link_tag 'screen', :media => 'screen'
    - if @show_postcode_autodiscovery_links
      =auto_discovery_link_tag(:xml, @url_for_this + ".xml")
      =auto_discovery_link_tag(:json, @url_for_this + ".json")
      =auto_discovery_link_tag(:js, @url_for_this + ".js")
      =auto_discovery_link_tag(:text, @url_for_this + ".text")
      =auto_discovery_link_tag(:csv, @url_for_this + ".csv")
      =auto_discovery_link_tag(:yaml, @url_for_this + ".yaml")
  %body{:id=>"findyourmp-parliament-uk"}
    #header
      %h1= @title || "Find Your MP"
    #content= yield
    #footer
      %p.help If you have any problems using this service please <a href="http://www.parliament.uk/directories/hcio/findyourmp_help.cfm">refer to the help pages</a> or contact the <a href="http://www.parliament.uk/directories/hcio.cfm">House of Commons Information Office</a>. The Office also produces the <a href="http://www.parliament.uk/about/languages/yourmp.cfm">You and your MP leaflet</a>, which describes the role of an MP and the ways in which MPs can help their constituents.
      %span.copyright Source: NSPD 2008, National Statistics. Crown copyright material is reproduced with the permission of the Controller of HMSO and Queen’s Printer for Scotland.
      #admin-button= button_to "Enable #{@is_admin ? 'STANDARD USER functions' : 'ADMINISTRATOR functions'}" , :action => :toggle_admin, :controller => 'application'
      - if @is_admin
        - if @constituency
          %p= link_to 'Edit constituency and member data', edit_constituency_path(@constituency)
        %p= link_to 'All constituencies', constituencies_path
